/* Body background image,color and font */

body{
	background-color: #ebeff2;
	background-image: url(../images/background.png);
	font-family: 'Montserrat', sans-serif;
}

/* All card heading text style */

.messagetxt{
	font-size: 2.5em;
	font-weight: 500;
	color: #ffffff;
	margin: 1em 0 0.5em 0;
    text-shadow: 1px 1px 1px #000;
}

/* Text message inside the card style */

.cardHeadMess{
	font-size: 0.95em;
    font-weight: 500;
    color: #a2a2a2;
}

/* Email icon css */

.emailImg{
    padding-top:2em;
	width: 30%;
}

/* Go to send email icon css section styling */

.downArrowSection{
	margin-top: 3.5em;
    margin-bottom:4em;
}

/* Go to send email icon css styling */

.downArrow{
	background-color: #ffffff;
	padding: 1.5em;
	border-radius: 30px;
	-webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.25);
	box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.25);
	cursor: pointer;
}

/* Email send and error message css */

.notifyTxt{
	font-size: 2em;
    color: #a2a2a2;
}

/* Bootstrap row scrolling issue fix styling */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Card styling */

.card{
	padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 10px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
	background-color: #f9fafc;
	-webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	min-height: 350px;
}

/* Login page card styling */

.loginSection{
    margin-top:5em;
}

.loginCard{
	padding: 40px 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 10px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
	background-color: #f9fafc;
	-webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
	min-height: 150px;
}


.signUpSection{
    margin-top:5em;
}

/* Overwriting default bootstrap form styling */

.form-control{
	border: 1px solid #e3e3e3;
	height: 40px;
	border-radius: 6px;
}

/* Styling for the proceed further message */

.proceedSection{
	margin: 2em 0;
}

/* */

.messageSection{
	margin-top: 1em;
}

/* Email form styling */

#emailForm{
	padding: 1.2em 0.7em;
}

/* hiding email card */

.enterEmail{
	display: none;
}

/* hiding signup card */
.signUpSection{
    display:none;
}

/* hiding send email card */

.sendEmail{
	display: none;
}

/* Signup Button Style */
.SignUpBtnSection
{
    padding-top:0.6em;
}

/* GoBAck Button Style */
.GoBackBtnSection
{
    padding-top:0.6em;
}

/* hiding successfull message card */

.emailSuccess{
	display: none;
	margin-top: 5em;
}

/* hiding failure message card */
.emailfailure{
	display: none;
	margin-top: 5em;
}

/* hiding loading card */
.emailloading{
	display: none;
	margin-top: 8em;

}

/* Send email button styling */

.btn-enter{
	color: #929191;
    font-size: 1.2em;
    padding-bottom: 0.3em;
    text-decoration: underline;
    padding-bottom: 1em;
}

/* Send email button hover styling */

.btn-enter:hover{
	color: #506CD8;
	cursor: pointer;
}

/* login form button styling */

.btn-login{
	background-color: #506CD8;
	padding: 0.6em 1em;
	border-radius: 6px;
}

/* login form button hover styling */

.btn-login:hover{
	background-color: #4059b2;
}

/* send email button styling */

.btn-send{
	background-color: #506CD8;
	padding: 1.2em 1em;
	border-radius: 6px;
}


/* send email button hover styling */
.btn-send:hover{
	background-color: #4059b2;
}

/* Success and failure icon styling */

.iconSection{
	padding: 3em;
}

/* send email again section styling */

.sendagnSection{
	margin: 3em;
}

/* logout section styling */

.logOutSection{
    padding: 1em 2em 1em 0;
}

/* Logout button styling */

.logoutBtn{
    color:#fc8888;
    border-bottom: 2px solid #fc8888;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 100;
}



.signUpLink{
    color:#506CD8 !important;
    margin-top: 1em;
}

/* Logout button hover styling */

.logoutBtn:hover{
    color:#f76767;
    border-bottom: 2px solid #f76767;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 100;
}


/*Login page Error Message Styling */
.alert-danger{
    margin-top:1em;
}


/*Loading Section Style*/

.loader{
    margin-top:7em;
}

.alert{
    margin-top:1em;
}